# Subway Data Analysis

## Introduction

O sistema de Ã´nibus e trens de Nova Iorque - o Metro Transit Authority - [fornece seus dados para download](http://web.mta.info/developers/developer-data-terms.html#data) atravÃ©s de  arquivos CSV. Dentre as informaÃ§Ãµes disponÃ­veis estÃ£o os **registros semanais de dados das catracas do metrÃ´**. 


Estes registros contÃ©m contagens cumulativas das entradas e saÃ­das, normalmente agrupadas em perÃ­odos de 4 horas, com dados adicionais que permitem identificar a estaÃ§Ã£o e catraca especÃ­fica correspondente a cada linha do arquivo. Neste projeto iremos utilizar um desses registros, mas nÃ£o precisa baixar nada agora! O primeiro exercÃ­cio serÃ¡ escrever um cÃ³digo Python para fazer isso por vocÃª :-)

# Sobre este projeto

Neste projeto vocÃª irÃ¡ aplicar todos os conhecimentos adquiridos neste primeiro mÃªs de curso, com tarefas bÃ¡sicas de aquisiÃ§Ã£o e limpeza de dados. No processo iremos descobrir informaÃ§Ãµes essenciais sobre os dados, utilizando o que foi aprendido no curso de estatÃ­stica. 

O objetivo deste projeto Ã© explorar a relaÃ§Ã£o entre os dados das catracas do metrÃ´ de Nova Iorque e o clima no dia da coleta. Para isso, alÃ©m dos dados do metrÃ´, precisaremos dos dados de clima da cidade de Nova Iorque. 

Os principais pontos que serÃ£o verificados neste trabalho:

- Coleta de dados da internet
- UtilizaÃ§Ã£o de estatÃ­stica para anÃ¡lise de dados
- ManipulaÃ§Ã£o de dados e criaÃ§Ã£o de grÃ¡ficos simples com o `Pandas`

*Como conseguir ajuda*: Sugerimos que busque apoio nos canais abaixo, na seguinte ordem de prioridade:

| Tipo de dÃºvida\Canais         	| Google 	| FÃ³rum 	| Slack 	| Email 	|
|-------------------------------	|--------	|-------	|-------	|-------	|
| ProgramaÃ§Ã£o Python e Pandas    	| 1      	| 2     	| 3     	|       	|
| Requisitos do projeto         	|        	| 1     	| 2     	| 3     	|
| Partes especÃ­ficas do Projeto 	|        	| 1     	| 2     	| 3     	|

Os endereÃ§os dos canais sÃ£o:

- FÃ³rum: https://discussions.udacity.com/c/ndfdsi-project
- Slack: [udacity-br.slack.com](https://udacity-br.slack.com/messages/C5MT6E3E1)
- Email: data-suporte@udacity.com

**Espera-se que o estudante entregue este relatÃ³rio com:**

- Todos os exercÃ­cios feitos, com atenÃ§Ã£o especial para os trechos de cÃ³digo a completar (sinalizados com `# your code here`), pois eles sÃ£o essenciais para que o cÃ³digo rode corretamente
- O arquivo ipynb exportado como HTML

Para entregar este projeto envie este `.ipynb` preenchido e o HTML, zipados, na pÃ¡gina correspondente da sala de aula.

# Sobre o dataset

DescriÃ§Ã£o das colunas
<pre>
C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
  
C/A      = Agrupamento de catracas de que a catraca faz parte (_Control Area_)
UNIT     = Cabine de controle associada Ã  estaÃ§Ã£o onde a catraca se encontra (_Remote Unit for a station_)
SCP      = EndereÃ§o especÃ­fico da catraca (_Subunit Channel Position_)
STATION  = Nome da estaÃ§Ã£o onde a catraca se encontra
LINENAME = CÃ³digo representando todas linhas que passam na estaÃ§Ã£o*
DIVISION = CÃ³digo representando a concessionÃ¡ria original da linha, antes da prefeitura assumir a gestÃ£o   
DATE     = Representa a data (no formato MM-DD-YY) do evento de auditoria agendado
TIME     = Representa o horÃ¡rio (hh:mm:ss) do evento de auditoria agendado
DESc     = Descreve o tipo de evento de auditoria registrado:
           1. "REGULAR" representando um evento de auditoria padrÃ£o, em que a contagem Ã© feita a cada 4 horas
           2. "RECOVR AUD" significa que o valor especÃ­fico estava perdido, mas foi recuperado posteriormente 
           3. Diversos cÃ³digos sinalizam situaÃ§Ãµes em que auditorias sÃ£o mais frequentes devido a atividades de
              planejamento ou soluÃ§Ã£o de problemas. 
ENTRIES  = A contagem cumulativa de entradas associadas Ã  catraca desde o Ãºltimo registro
EXITS    = A contagem cumulativa de saÃ­das associadas Ã  catraca desde o Ãºltimo registro

*  Normalmente as linhas sÃ£o representadas por um caractere. LINENAME 456NQR significa que os trens 4, 5, 6, N, Q e R passam pela estaÃ§Ã£o.
</pre>

# Lembretes

Antes de comeÃ§armos, alguns lembretes devem ter em mente ao usar os notebooks iPython:

- Lembre-se de que vocÃª pode ver do lado esquerdo de uma cÃ©lula de cÃ³digo quando foi executado pela Ãºltima vez se houver um nÃºmero dentro das chaves.
- Quando vocÃª inicia uma nova sessÃ£o do notebook, certifique-se de executar todas as cÃ©lulas atÃ© o ponto em que vocÃª deixou a Ãºltima vez. Mesmo que a saÃ­da ainda seja visÃ­vel a partir de quando vocÃª executou as cÃ©lulas em sua sessÃ£o anterior, o kernel comeÃ§a em um estado novo, entÃ£o vocÃª precisarÃ¡ recarregar os dados, etc. em uma nova sessÃ£o.
- O ponto anterior Ã© Ãºtil para ter em mente se suas respostas nÃ£o correspondem ao que Ã© esperado nos questionÃ¡rios da aula. Tente recarregar os dados e execute todas as etapas de processamento um a um para garantir que vocÃª esteja trabalhando com as mesmas variÃ¡veis e dados que estÃ£o em cada fase do questionÃ¡rio.

## SeÃ§Ã£o 1 - Coleta de Dados

### *Exercicio 1.1*

Mãos a obra! Agora é sua vez de coletar os dados. Escreve um código python que acesse o link http://web.mta.info/developers/turnstile.html e baixe os arquivos do mês de **junho de 2017**. O arquivo deverá ser salvo com o nome `turnstile_170610.txt` onde `10/06/17` é a data do arquivo.

<blockquote>
    <p>Caso o site esteja fora do ar, use essa url:</p>
    <p>https://s3.amazonaws.com/video.udacity-data.com/topher/2018/November/5bf32290_turnstile/turnstile.html</p>
</blockquote>

Abaixo seguem alguns comandos que poderão te ajudar:

Utilize a biblioteca **urllib** para abrir e resgatar uma página da web. Utilize o comando abaixo onde **url** será o caminho da páina da web onde se encontra o arquivo:

```python
u = urllib.urlopen(url)
html = u.read()
```

Utilize a biblioteca **BeautifulSoup** para procurar na página pelo link do arquivo que deseja baixar. Utilize o comando abaixo para criar o seu objeto *soup* e procurar por todas as tags `'a'` no documento:
 
 
```python
soup = BeautifulSoup(html, "html.parser")
links = soup.find_all('a')
```

Uma dica para baixar apenas os arquivos do mêss de junho é verificar a data no nome do arquivo. Por exemplo, para baixar o arquivo do dia 17/06/2017 verifique se o link termina com `"turnstile_170610.txt"`. Se não fizer isso você baixará todos os arquivos da página. Para fazer isso utilize o comando conforme abaixo:

```python
if '1706' in link.get('href'):
```

E a dica final é utilizar o comando abaixo para fazer o download do arquivo txt:

```python
urllib.urlretrieve(link_do_arquivo, filename)
```

Lembre-se, primeiro, carregue todos os pacotes e funções que você estará usando em sua análise.

In [7]:
import sys
import time

def show_progress(count, block_size, total_size):
    global start_time
    if count == 0:
        start_time = time.time()
        return
    duration = time.time() - start_time
    
    progress_size = int(count * block_size)
    speed = int(progress_size / (1024 * duration))
    percent = int(count * block_size * 100 / total_size)
    sys.stdout.write("\r...%d%%, %d MB, %d KB/s, %d seconds passed" %
                    (percent, progress_size / (1024 * 1024), speed, duration))
    sys.stdout.flush()

Validando o input:

In [8]:
import datetime

def monthly_input_validation(month: str):
    import datetime
    
    try:
        datetime.datetime.strptime(month, '%y%m')
    except ValueError as ex:
        raise

In [9]:
import re
from urllib import request
from bs4 import BeautifulSoup

url = 'https://s3.amazonaws.com/video.udacity-data.com/topher/2018/November/5bf32290_turnstile/turnstile.html'
response = request.urlopen(url)
response_html = response.read()
soup = BeautifulSoup(response_html, 'html.parser')
links = soup.find_all('a')

# date as YYMM
MONTH = '1706'

def get_monthly_data(html, month: str) -> list:
    import sys
    monthly_input_validation(month)
    
    soup = BeautifulSoup(html, 'html.parser')
    links = soup.find_all('a')
    
    file_names = []
    print('Search begun, please wait')
    for link in links:
        day_url = str(link.get('href'))
        if day_url.__contains__(month):
            file_name = day_url.replace('https://','').split('/')[-1]
            request.urlretrieve(day_url, file_name, show_progress)
            print(f'\nDownloaded {file_name}')
            file_names.append(file_name)
    return file_names
            
#request.urlretrieve('https://s3.amazonaws.com/video.udacity-data.com/topher/2018/November/5bf2fab0_turnstile-170610/turnstile-170610.txt', 'file.txt')
#print(link.get('href'))
files = get_monthly_data(response_html, '1706')

Search begun, please wait
...100%, 24 MB, 1043 KB/s, 24 seconds passed
Downloaded turnstile-170624.txt
...100%, 24 MB, 1062 KB/s, 23 seconds passed
Downloaded turnstile-170617.txt
...100%, 24 MB, 1520 KB/s, 16 seconds passed
Downloaded turnstile-170610.txt
...100%, 24 MB, 734 KB/s, 34 seconds passed
Downloaded turnstile-170603.txt

In [10]:
files

['turnstile-170624.txt',
 'turnstile-170617.txt',
 'turnstile-170610.txt',
 'turnstile-170603.txt']

### *Exercicio 1.2*

Escreva uma função que pegue a lista de nomes dos arquivos que você baixou no exercicio 1.1 e consolide-os em um único arquivo. Deve existir apenas uma linha de cabeçalho no arquivo de saida. 

Por exemplo, se o `arquivo_1` tiver:
```
linha 1...
linha 2...
```

e o outro arquivo, `arquivo_2` tiver:
```
linha 3...
linha 4...
linha 5...
```

Devemos combinar o `arquivo_1` com `arquivo_2` em um arquivo mestre conforme abaixo:

```
'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn'
linha 1...
linha 2...
linha 3...
linha 4...
linha 5...
```

**OBS:** Note que algumas colunas foram descartadas!

In [14]:
def create_master_turnstile_file(filenames, output_file):
    count = 0
    with open(output_file, 'w') as master_file:
        master_file.write('C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn\n')
        for filename in filenames:
            with open(filename, 'r') as input_file:
                input_file.readline()
                for line in input_file.readlines():
                    master_file.write(line)
                    count += 1
    print(f'Written {count} lines of data on {output_file}')
                        
create_master_turnstile_file(files, 'masterfile.txt')

Written 788214 lines of data on masterfile.txt

### *Exercicio 1.3*

Neste exercício, escreva um função que leia o `master_file` criado no exercicio anterior e carregue-o em um pandas dataframe. Esta função deve filtrar para que o dataframe possua apenas linhas onde a coluna "DESCn" possua o valor "Regular".

Por exemplo, se o data frame do pandas estiver conforme abaixo:
    
    ,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    1,A002,R051,02-00-00,05-01-11,04:00:00,DOOR,3144335,1088159
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    3,A002,R051,02-00-00,05-01-11,12:00:00,DOOR,3144424,1088231

O dataframe deverá ficar conforme abaixo depois de **filtrar apenas as linhas onde a coluna DESCn possua o valor REGULAR**:

    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177

In [12]:
import pandas as pd

def filter_by_regular(filename):
    df = pd.read_csv(filename)
    expression = df['DESCn'] == 'REGULAR'
    df_out = df.loc[expression]
    return df_out

df = filter_by_regular('masterfile.txt')
df.head()

                      C/A     UNIT  SCP       DATEn     TIMEn    DESCn  \
A002 R051 02-00-00  59 ST  NQR456W  BMT  06/17/2017  00:00:00  REGULAR
          02-00-00  59 ST  NQR456W  BMT  06/17/2017  04:00:00  REGULAR
          02-00-00  59 ST  NQR456W  BMT  06/17/2017  08:00:00  REGULAR
          02-00-00  59 ST  NQR456W  BMT  06/17/2017  12:00:00  REGULAR
          02-00-00  59 ST  NQR456W  BMT  06/17/2017  16:00:00  REGULAR

                    ENTRIESn   EXITSn
A002 R051 02-00-00   6224816  2107317
          02-00-00   6224850  2107322
          02-00-00   6224885  2107352
          02-00-00   6225005  2107452
          02-00-00   6225248  2107513

### *Exercicio 1.4*


Os dados do metrô de NY possui dados cumulativos de entradas e saidas por linha. Assuma que você possui um dataframe chamado `df` que contém apenas linhas para uma catraca em particular (único SCP, C/A, e UNIT). A função abaixo deve alterar essas entradas cumulativas para a contagem de entradas desde a última leitura (entradas desde a última linha do `dataframe`).

Mais especificamente, você deverá fazer duas coisas:

1. Criar uma nova coluna chamada `ENTRIESn_hourly`

2. Inserir nessa coluna a diferença entre ENTRIESn da linha atual e a da linha anterior. Se a linha possuir alguma NAN, preencha/substitua por 1.

Dica: as funções do pandas `shift()` e `fillna()` pode ser úteis nesse exercício.

Abaixo tem um exemplo de como seu dataframe deve ficar ao final desse exercício:

           C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn    EXITSn  ENTRIESn_hourly
    0     A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312   1088151                1
    1     A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335   1088159               23
    2     A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353   1088177               18
    3     A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424   1088231               71
    4     A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594   1088275              170
    5     A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808   1088317              214
    6     A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895   1088328               87
    7     A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905   1088331               10
    8     A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941   1088420               36
    9     A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094   1088753              153
    10    A002  R051  02-00-00  05-02-11  16:00:00  REGULAR   3145337   1088823              243

In [15]:
# generic from next exercise:
def get_hourly_metric(df, column, fill_na):
    """No type nor semantic checking"""
    df[f'{column}_hourly'] = df[column].diff().apply(lambda x: x if not pd.isna(x) else fill_na)
    return df

def get_hourly_entries(df):
    return get_hourly_metric(df, 'ENTRIESn', 1.0)

df = get_hourly_entries(df)
df.head()

                      C/A     UNIT  SCP       DATEn     TIMEn    DESCn  \
A002 R051 02-00-00  59 ST  NQR456W  BMT  06/17/2017  00:00:00  REGULAR
          02-00-00  59 ST  NQR456W  BMT  06/17/2017  04:00:00  REGULAR
          02-00-00  59 ST  NQR456W  BMT  06/17/2017  08:00:00  REGULAR
          02-00-00  59 ST  NQR456W  BMT  06/17/2017  12:00:00  REGULAR
          02-00-00  59 ST  NQR456W  BMT  06/17/2017  16:00:00  REGULAR

                    ENTRIESn   EXITSn  ENTRIESn_hourly
A002 R051 02-00-00   6224816  2107317              1.0
          02-00-00   6224850  2107322             34.0
          02-00-00   6224885  2107352             35.0
          02-00-00   6225005  2107452            120.0
          02-00-00   6225248  2107513            243.0

### *Exercicio 1.5*

Faça o mesmo do exercicio anterior mas agora considerando as saidas, coluna `EXITSn`.
Para isso crie uma coluna chamada de `EXITSn_hourly` e insira a diferençaa entre a coluna `EXITSn` da linha atual versus a linha anterior. Se tiver algum `NaN`, preencha/substitua por 0.

In [16]:
def get_hourly_exits(df):
    return get_hourly_metric(df, 'EXITSn', 0.0)

df = get_hourly_exits(df)
df.head()

                      C/A     UNIT  SCP       DATEn     TIMEn    DESCn  \
A002 R051 02-00-00  59 ST  NQR456W  BMT  06/17/2017  00:00:00  REGULAR
          02-00-00  59 ST  NQR456W  BMT  06/17/2017  04:00:00  REGULAR
          02-00-00  59 ST  NQR456W  BMT  06/17/2017  08:00:00  REGULAR
          02-00-00  59 ST  NQR456W  BMT  06/17/2017  12:00:00  REGULAR
          02-00-00  59 ST  NQR456W  BMT  06/17/2017  16:00:00  REGULAR

                    ENTRIESn   EXITSn  ENTRIESn_hourly  EXITSn_hourly
A002 R051 02-00-00   6224816  2107317              1.0            0.0
          02-00-00   6224850  2107322             34.0            5.0
          02-00-00   6224885  2107352             35.0           30.0
          02-00-00   6225005  2107452            120.0          100.0
          02-00-00   6225248  2107513            243.0           61.0

### *Exercicio 1.6*

Dado uma variáel de entrada que representa o tempo no formato de:

Â Â Â Â  "00:00:00" (hora: minutos: segundos)
Â Â Â Â 

Escreva uma função para extrair a parte da hora do tempo variável de entrada

E devolva-o como um número inteiro. Por exemplo:

Â Â Â Â Â Â Â Â  

1. se a hora for 00, seu código deve retornar 0
2. se a hora for 01, seu código deve retornar 1
3. se a hora for 21, seu código deve retornar 21

Â Â Â Â Â Â Â Â 
Por favor, devolva a hora como um número inteiro.

In [17]:
def time_to_hour(time):
    hour = int(time[:2])
    return hour

time_to_hour('16:32:59')

16

## Exercicio 2 - AnÃ¡lise dos dados

### *Exercicio 2.1*

Para verificar a relação entre o movimento do metrô e o clima, precisaremos complementar os dados do arquivo já baixado com os dados do clima. Nós complementamos para você este arquivo com os dados de clima de Nova Iorque e disponibilizamos na área de materiais do projeto. Você pode acessa-lo pelo link: https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/turnstile_data_master_with_weather.csv

Agora que temos nossos dados em um arquivo csv, escreva um código python que leia este arquivo e salve-o em um data frame do pandas. 

Dica: 

Utilize o comando abaixo para ler o arquivo:

```python
pd.read_csv('output_list.txt', sep=",")
```

In [18]:
import pandas as pd

filename = "turnstile_data_master_with_weather.csv"

df_weather = pd.read_csv(filename)
df_weather.head()

,Unnamed: 0,UNIT,DATEn,TIMEn,Hour,DESCn,ENTRIESn_hourly,EXITSn_hourly,maxpressurei,maxdewpti,...,meandewpti,meanpressurei,fog,rain,meanwindspdi,mintempi,meantempi,maxtempi,precipi,thunder
0,0,R001,2011-05-01,01:00:00,1,REGULAR,0.0,0.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
1,1,R001,2011-05-01,05:00:00,5,REGULAR,217.0,553.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
2,2,R001,2011-05-01,09:00:00,9,REGULAR,890.0,1262.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
3,3,R001,2011-05-01,13:00:00,13,REGULAR,2451.0,3708.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
4,4,R001,2011-05-01,17:00:00,17,REGULAR,4400.0,2501.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0

Agora crie uma função que calcule a quantidade de dias chuvosos, para isso retorne a contagem do numero de dias onde a coluna *"rain"* é igual a 1.

> **Dica**: Você também pode achar que a interpretação de números como números inteiros ou float pode não      funcionar inicialmente. Para contornar esta questão, pode ser útil converter      esses números para números inteiros. Isso pode ser feito escrevendo cast (coluna como inteiro).      Então, por exemplo, se queríamos lançar a coluna maxtempi como um número inteiro, nós devemos      escrever algo como cast (maxtempi as integer) = 76, em oposição a simplesmente      onde maxtempi = 76.

In [19]:
df_weather['rain'].unique()

array([0., 1.])

In [20]:
def num_rainy_days(df):
    return len(df.loc[df['rain'] == 1.0])

num_rainy_days(df_weather)

44104

### *Exercicio 2.3*

Calcule se estava nebuloso ou não (0 ou 1) e a temperatura máxima para fog (isto é, a temperatura máxima para dias nebulosos).

In [21]:
df_weather['fog'].unique()

array([0., 1.])

In [22]:
def max_temp_aggregate_by_fog(df):
    return df_weather['maxtempi'].loc[df_weather['fog'] == 1.0].max()

max_temp_aggregate_by_fog(df_weather)

81.0

### *Exercicio 2.4

Calcule agora a média de `'meantempi'` nos dias que são sábado ou domingo (finais de semana):

In [23]:
adate = datetime.date(17, 8, 23)
adate.weekday()

2

In [24]:
import numpy as np

def avg_weekend_temperature(df, column='meantempi'):
    return df[df['DATEn'].apply(is_weekend).isna() == False][column].mean()

def validate_date(date_list):
    for date in date_list:
        if len(date) == 0:
            return False
    return [int(x) for x in date_list]
    
def is_weekend(date_str):    
    date_list = [x for x in date_str.split(sep='-')]
    validated = validate_date(date_list)
    if validated:
        year, month, day = validated
        week_day = datetime.datetime(year, month, day).weekday()
        if week_day in (5, 6):
            return 1.0
    return np.nan
    
avg_weekend_temperature(df_weather)

65.10066685403307

### *Exercicio 2.5

Calcule a média da temperatura mínima `'mintempi'` nos dias chuvosos onde da temperatura mínima foi maior que do 55 graus:

In [25]:
def avg_min_temperature(df):
    rainy = df['rain'] == 1.0
    temp_above = df['mintempi'] > 55
    print(f'Rows that satisfact first rule: {len(df[rainy])}')
    print(f'Rows that satisfact second rule: {len(df[temp_above])}')
    return df['mintempi'].loc[rainy & temp_above].mean()

avg_min_temperature(df_weather)

Rows that satisfact first rule: 44104
Rows that satisfact second rule: 48125

61.238860398860396

### *Exercicio 2.6

Antes de realizar qualquer análise, pode ser útil olhar para os dados que esperamos analisar. Mais especificamente, vamos examinar as entradas por hora em nossos dados do metrô de Nova York para determinar a distribuição dos dados. Estes dados são armazenados na coluna `['ENTRIESn_hourly']`.      Trace dois histogramas nos mesmos eixos para mostrar as entradas quando esta chovendo vs quando não está chovendo. Abaixo está um exemplo sobre como traçar histogramas com pandas e matplotlib: 
```python
Turnstile_weather ['column_to_graph']. Hist ()
```

In [26]:
import numpy as np
import pandas
import matplotlib.pyplot as plt

def entries_histogram(df):
    df['ENTRIESn_hourly'].hist(by = df['rain'], range = [0, 8000])
    print(df['rain'].describe())
    return plt

entries_histogram(df_weather)
plt.show()
#df_weather['ENTRIESn_hourly']

count    131951.000000
mean          0.334245
std           0.471728
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: rain, dtype: float64

### *Exercicio 2.7

Os dados que acabou de plotar que tipo de ditribuição? Existe diferença na distribuição entre dias chuvosos e não chuvosos?

**Resposta**: Os dados demonstram uma distribuição normal enviesada à direita. Com aparente nenhuma distinção entre as distribuições dos dias chuvosos e não chuvosos

### *Exercicio 2.8

Construa uma função que que retorne:

1. A média das entradas com chuva
2. A média das entradas sem chuva

In [27]:
import numpy as np

import pandas

def means(df):
    with_rain_mean = df['ENTRIESn_hourly'].loc[df['rain'] == 1.0].mean()
    without_rain_mean = df['ENTRIESn_hourly'].loc[df['rain'] == 0.0].mean()
    return with_rain_mean, without_rain_mean#, p # leave this line for the grader

means(df_weather)

(1105.4463767458733, 1090.278780151855)

Responda as perguntas abaixo de acordo com a saida das suas funções:

1. Qual a média das entradas com chuva?
2. Qual a média das entradas sem chuva?

**Resposta**:

1. 1315 entradas é a média em dias com chuva, e
2. 1175 entradas é a média em dias sem chuva.

## Exercicio 3 - Map Reduce

### *Exercicio 3.1*

A entrada para esse exercício e o mesmo arquivo da sessão anterior (Exercicio 2). Você pode baixar o arquivo neste link:

 https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/turnstile_data_master_with_weather.csv

Varmos criar um mapeador agora. Para cada linha de entrada, a saída do mapeador deve IMPRIMIR (não retornar) a UNIT como uma chave e o número de ENTRIESn_hourly como o valor. Separe a chave e o valor por uma guia. Por exemplo: '`R002\t105105.0`'

Exporte seu mapeador em um arquivo chamado `mapper_result.txt` e envie esse arquivo juntamente com a sua submissão. O código para exportar seu mapeador já está escrito no código abaixo.

In [28]:
d = pd.read_csv('turnstile_data_master_with_weather.csv')
d.head()

,Unnamed: 0,UNIT,DATEn,TIMEn,Hour,DESCn,ENTRIESn_hourly,EXITSn_hourly,maxpressurei,maxdewpti,...,meandewpti,meanpressurei,fog,rain,meanwindspdi,mintempi,meantempi,maxtempi,precipi,thunder
0,0,R001,2011-05-01,01:00:00,1,REGULAR,0.0,0.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
1,1,R001,2011-05-01,05:00:00,5,REGULAR,217.0,553.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
2,2,R001,2011-05-01,09:00:00,9,REGULAR,890.0,1262.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
3,3,R001,2011-05-01,13:00:00,13,REGULAR,2451.0,3708.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
4,4,R001,2011-05-01,17:00:00,17,REGULAR,4400.0,2501.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0

In [29]:
import sys

def mapper():
    first_line = True
    for line in sys.stdin:
        if first_line:
            first_line = False
        else:
            vec = line.split(',')
            if len(vec) >= 6:
                print(f'{vec[1]}\t{vec[6]}')

sys.stdin = open('turnstile_data_master_with_weather.csv')
sys.stdout = open('mapper_result.txt', 'w')
mapper()

### *Exercicio 3.2*

Agora crie o redutor. Dado o resultado do mapeador do exercicio anterior, o redutor deve imprimir(Não retornar) uma linha por `UNIT`, juntamente com o número total de `ENTRIESn_hourly`.Ao longo de maio (que é a duração dos nossos dados), separados por uma guia. Um exemplo de linha de saída do redutor pode ser assim: `R001\t500625.0`

Você pode assumir que a entrada para o redutor está ordenada de tal forma que todas as linhas correspondentes a uma unidade particular são agrupados. No entanto a saida do redutor terá repetição pois existem lojas que aparecem em locais diferentes dos arquivos.

Exporte seu redutor em um arquivo chamado reducer_result.txt e envie esse arquivo juntamente com a sua submissão.

In [30]:
def fmt(key, value):
    return f'{key}\t{value}'

def reducer():
    old_unit = None
    accumulator = 0.0
    
    for line in sys.stdin:
        unit, entries = line.split('\t')
        if old_unit == None or unit == old_unit:
            accumulator += float(entries)
            old_unit = unit
        else:
            print(fmt(old_unit, accumulator))
            accumulator = float(entries)
            old_unit = unit
    # add last one
    print(fmt(old_unit, accumulator))
        #print(f'{old_unit == None or unit == old_unit}, unit: {unit}, old_unit: {old_unit}, entries: {entries}')
        

sys.stdin = open('mapper_result.txt')
sys.stdout = open('reducer_result.txt', 'w')
reducer()